:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.hcsquarebutt {
  background: #fff;
  color: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 27px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  width: 33.61px;
  column-gap: 10px;
}

.hcsquarediv{
  background: #fff;
  color: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  height: 20px;
  margin-right: 2px;
  margin-top: 2px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 32px;
  column-gap: 2px;
}

.hcscorediv{
  background: #fff;
  color: #fff;
  border: 1px solid #000;
  float: left;
  font-size: 20px;
  font-weight: bold;
  line-height: 95px;
  height: 60px;
  margin-right: 3px;
  margin-top: 3px;
  padding: 0;
  text-align: center;
  width: 31px;
  column-gap: 2px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.hcboard-row:after {
  clear: both;
  content: '';
  display: table;
}

.container {
  width: 150px;
  height: 119px;

}

button {
  gap: 4;
  border-color: #000;
  border: 1px solid #000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
